<!doctype html>
<html lang="en-US">
<head>
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .topic {
            font-family: Arial, sans-serif;
            font-size: 38;
            background-color: #7FB3D5;
            color: #F4F6F7;
        }

        .method { 
            width: 100px;
            height: auto;
        }

    </style>
</head>
<body>
<h2 class = "topic">API reference documentation (method and exception shortcuts)</h2>
        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}TextView/android/widget/TextView.html#changeTextColor-ColorStateList-"><h4 id="changeTextColor">changeTextColor</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}ContentResolver/android/content/ContentResolver.html#deleteRecord-Uri-java.lang.String-java.lang.String:A-"><h4 id="deleteRecord">deleteRecord</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}Canvas/android/graphics/Canvas.html#drawTxt-java.lang.String-int-int-float-float-Paint-"><h4 id="drawTxt">drawTxt</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}TextView/android/widget/TextView.html#editText-char:A-int-int-"><h4 id="editText">editText</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}Activity/android/app/Activity.html#findViewId-int-"><h4 id="findViewId">findViewId</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}Cursor/android/database/Cursor.html#getCursorString-int-"><h4 id="getCursorString">getCursorString</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}ContentResolver/android/content/ContentResolver.html#insertData-Uri-ContentValues-"><h4 id="insertData">insertData</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}ContentResolver/android/content/ContentResolver.html#queryData-Uri-java.lang.String:A-java.lang.String-java.lang.String:A-java.lang.String-"><h4 id="queryData">queryData</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}Activity/android/app/Activity.html#setLayout-int-"><h4 id="setLayout">setLayout</h4></a>
            </ul>
        </div>

        <br\>

        <div class="method">
            <ul class="blockList">
                <a href="{{ url_for('api_explore')}}ContentResolver/android/content/ContentResolver.html#updateRecord-Uri-ContentValues-java.lang.String-java.lang.String:A-"><h4 id="updateRecord">updateRecord</h4></a>
            </ul>
        </div>
</body>
</html>