<!doctype html>
<html lang="en-US">
<head>
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .topic {
            font-family: Arial, sans-serif;
            font-size: 38;
            background-color: #7FB3D5;
            color: #F4F6F7;
        }

        .method { 
            width: 100px;
            height: auto;
        }

        .intro { 
            width: 600px;
            height: auto;
            padding: 20px;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }
    </style>
</head>

<body>
<h2 class = "topic">API reference documentation (shortcuts)</h2>
        <div class = "intro">
            In the following, we list elements that exist in the survey
            and one could use to complete the source code of the NotePad application. 
            Clicking on one of the following shortcuts, you can find its documentation.
        </div>

        <hr>

        <div class = "intro">
            Methods
        </div>

        <hr>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}TextView/android/widget/TextView.html#changeTextColor-ColorStateList-"><h4 id="changeTextColor">changeTextColor</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}Canvas/android/graphics/Canvas.html#drawTxt-java.lang.String-int-int-float-float-Paint-"><h4 id="drawTxt">drawTxt</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}TextView/android/widget/TextView.html#editText-char:A-int-int-"><h4 id="editText">editText</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}Activity/android/app/Activity.html#findViewId-int-"><h4 id="findViewId">findViewId</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_android')}}ContextWrapper/android/content/ContextWrapper.html#getContentResolver--"><h4 id="getContentResolver">getContentResolver</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}ContentResolver/android/content/ContentResolver.html#insertData-Uri-ContentValues-"><h4 id="insertData">insertData</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_android')}}Throwable/java/lang/Throwable.html#printStackTrace--"><h4 id="printStackTrace">printStackTrace</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}ContentResolver/android/content/ContentResolver.html#queryData-Uri-java.lang.String:A-java.lang.String-java.lang.String:A-java.lang.String-"><h4 id="queryData">queryData</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}Activity/android/app/Activity.html#setLayout-int-"><h4 id="setLayout">setLayout</h4></a>
        </ul>
        </div>

        <div class = "intro">
            Classes and Interfaces
        </div>

        <hr>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}Canvas/android/graphics/Canvas.html"><h4 id="Canvas">Canvas</h4></a>
        </ul>
        </div>

        <br\>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}Cursor/android/database/Cursor.html"><h4 id="Cursor">Cursor</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}EditText/android/widget/EditText.html"><h4 id="EditText">EditText</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}Exception/java/lang/Exception.html"><h4 id="Exception">Exception</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}InsufficientMemoryForResourceException/android/view/InsufficientMemoryForResourceException.html"><h4 id="InsufficientMemoryForResourceException">InsufficientMemoryForResourceException</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}InvalidArrayIndexException/android/util/InvalidArrayIndexException.html"><h4 id="InvalidArrayIndexException">InvalidArrayIndexException</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}InvalidUriException/android/net/InvalidUriException.html"><h4 id="InvalidUriException">InvalidUriException</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}MissingResourceException/android/content/MissingResourceException.html"><h4 id="MissingResourceException">MissingResourceException</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}NullResourceException/android/view/NullResourceException.html"><h4 id="NullResourceException">NullResourceException</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}RuntimeException/java/lang/RuntimeException.html"><h4 id="RuntimeException">RuntimeException</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}UnauthorizedAccessException/android/security/UnauthorizedAccessException.html"><h4 id="UnauthorizedAccessException">UnauthorizedAccessException</h4></a>
        </ul>
        </div>

        <div class="method">
        <ul class="blockList">
            <a href="{{ url_for('api_explore_doc')}}Uri/android/net/Uri.html"><h4 id="Uri">Uri</h4></a>
        </ul>
        </div>

        <hr>
</body>
</html>