 <html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <div>
            <p>Please carefully consider the following instructions:</p>

            <ul>
                
                <li><p>-To fill an answer box, drag elements from the box on the left to the answer boxes on the right.</p></li>
                <li><p>-To clear an answer box, you can press the <b>Clear</b> button.</p></li>
                <li><p>-To delete an element (e.g. a dragged try) just click once on the element.</p></li>
                <li><p>-To see an answer, you can press the <b>Get Value</b> button.</p></li>
                <li><p>-To update each of your answers, please, press the <b>Update</b> button, 
                        otherwise your answers will not valid!</p></li>
                <li><p>-To check your program for compile errors, press the <b>Save</b> button and then press the 
                        <b>Compile</b> button. Remember that first, you should have updated (Update button) all the answer boxes!
            </ul>

            <br>

            <p>Please, take care of the handling of your code, 
            because we know that the methods to be called can lead to application <b>crashes</b>! 
            Finally, when you fill the answer boxes, please do not forget to press the <b>Save</b> button and then press the log-out link (up and right in the survey). Thank you!</p>
            <p><a href="javascript:window.close()">Close</a> the popup.</p>
        </div>
    </body>
</html>
