 <html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <div>
            <p>Please carefully consider the following instructions:</p>

            <ul>
                <li><p>To fill an answer box, drag elements from the box on the left to the answer boxes on the right.</p></li>
                <li><p>To clear an answer box, press the <b>Clear</b> button.</p></li>
                <li><p>To delete an element (e.g. a dragged try) just click once with the pointer on the element.</p></li>
                <li><p>To save each of your answers, please, always press the <b>Save</b> button; 
                        otherwise, your answers will not be valid!</p></li>
                <li><p>To check your program for syntax errors, press the <b>Format</b> button and then press the 
                        <b>Check</b> button in the end of the form.</p></li>
            </ul>

            <br>

            <p>Please, take care of the handling of your code, 
            because we know that the methods to be called can lead to application <b>crashes</b>! 
            When you fill an answer box, please do not forget to press the <b>Save</b> button.
            Finally, when you are happy with your answers, just press the log-out link (up and right in the survey). 
            Thank you!</p>
            
            <p><a href="javascript:window.close()">Close</a> the popup.</p>
            
        </div>
    </body>
</html>
