 <html>
    <head>
        <title>Instructions</title>
    </head>
    <body>
        <div>
            <p>Please carefully consider the following instructions:</p>

            <ul>
                <li><p>To fill an answer box, drag elements from the box on the left to the answer boxes on the right.</p></li>
                <li><p>To clear an answer box, press the <b>Clear</b> button.</p></li>
                <li><p>To delete an element (e.g. a dragged try) just click once with the pointer on the element.</p></li>
                <li><p>To format your answers press <b>Format</b> in the end of the survey.</p></li>
                <li><p>To check your program for syntax errors press the <b>Format</b> button and then press the 
                        <b>Check</b> button in the end of the survey.</p></li>
                <li><p>Your program will have no compile errors
                        if check's output gives you BUILD SUCCESSFULL in the end.</p></li>
                <li><p>To find the lines with errors press View source code in the end of the compiler results page.</p></li>
                <li><p>When you are happy with your answers, just log-out.</p></li>
            </ul>

            <p>Note that you do not need to fully understand the given Java class,
            but mainly the parts related to the TODO comments.
            Also, keep in mind that you can access the survey
            and edit your answers as many times as you want.
            Just remember the email and password you gave when you signed up.
            In case you forgot your credentials,
            don't worry just send an email to mkechagia[at]aueb.gr.
            Finally, you can complete the survey using
            the latest versions of Chrome, Firefox, or Safari browsers.</p>

            <p>Thank you very much!</p>

            <br>
            
            <p><a href="javascript:window.close()">Close</a></p>
            
        </div>
    </body>
</html>
